/* This file contains all the styles for the webpages available under the brhoton.github.io repository */
/* Styles for the body */
body {
  background-color: #FFAAAA;
  width: 900px;
  font-family: sans-serif;
  border: 1px solid black;
  margin: auto;
}

/* Styles for the header */
header {
  border-bottom: 1px solid black;
  font-size: 200%;
}

/* Styles for the main */

/* Styles for other elements */
p {
  padding-left: .5em;
}
